{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block title %}정보 조회{% endblock title %}
{% block contents %}
<div class="d-flex justify-content-center mt-5">
    <div class="card p-4" style="width: 600px;">
        <h4 class="text-center">회원정보</h4>
        <div class="text-center mt-3">
            <img src="{{user.profile_img.url}}" width="150px" class="rounded-circle">
        </div>
        <table class="table mt-3">
            <tr>
                <th class="table-info">이름</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th class="table-info">성별</th>
                <td>{{user.gender}}</td>
            </tr>
            <tr>
                <th class="table-info">지역</th>
                <td>{{user.state}}</td>
            </tr>
            <tr>
                <th class="table-info">생년월일</th>
                <td>{{user.birthday}}</td>
            </tr>
        </table>
        <div class="text-center mt-3">
            <a href="{% url "account:update" %}" class="btn" style="background-color: #00a059; color: white;">회원 정보 수정</a>
            <a href="{% url "account:pwd_change" %}" class="btn" style="background-color: #00a059; color: white;">비밀번호 변경</a>
    </div>
</div>
{% endblock contents %}
