{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block title %}정보 조회{% endblock title %}
{% block contents %}
<div class="container h4 text-bg-info mt-3">사용자 정보</div>
<table class="table">
    <tr>
        <th class="table-info">
            사진
        </th>
        <td>
            {% if user.profile_img %}
                <a href="{{user.profile_img.url}}" target="_blank"><img src="{{user.profile_img.url}}" width="150px"></a>
            {% else %}
                <a href="#" target="_blank"><img src="/static/account/image/default.jpg" width="150px" alt="동숲 주민 사진"></a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th class="table-info">
            이름
        </th>
        <td>
            {{user.name}}
        </td>
    </tr>
        <tr>
        <th class="table-info">
            성별
        </th>
        <td>
            {{user.gender}}
        </td>
    </tr>
    <tr>
        <th class="table-info">
            지역
        </th>
        <td>
            {{user.state}}
        </td>
    </tr>
    <tr>
        <th class="table-info">
            생년월일
        </th>
        <td>
            {{user.birthday}}
        </td>
    </tr>
</table>
{% endblock contents %}